<!--<h1>Pages#home</h1>-->
<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus massa non 
        quam tempor tincidunt. Aliquam eget ipsum vitae nunc sodales viverra. Donec iaculis imperdiet mauris, 
        et pellentesque eros iaculis non. Integer scelerisque mollis rhoncus. Aliquam varius vel lectus eu placerat. 
        Aliquam faucibus purus vitae neque posuere, non feugiat velit aliquam. Nunc finibus metus a erat sollicitudin, 
        ut iaculis risus pellentesque. Donec facilisis pretium nisi ac porttitor. Duis sed ex non dui imperdiet 
        pulvinar vitae vel nibh. Integer odio nisl,
        rhoncus eget dictum vel, viverra non purus. Fusce non volutpat augue. Suspendisse nec arcu nisi</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>

<div class="container form-msg" id="form-msg">
    <%= form_tag("/sms/send", method: "post") do %>
        <div class="form-group">
            <%= label_tag(:number, "Number: ") %>
            <%= number_field(:number, "Phone number", class: "form_control") %>
        </div>
        <div class="form-group">
            <%= label_tag(:message, "What's your message:") %>
            <%= text_area_tag(:message, "Hi! ", class: "form-control", rows: "5" ) %>
        </div>
        <%= submit_tag("Send", class: "btn btn-success") %>
    <% end %>
</div>