<!--<h1>Pages#home</h1>-->
<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p> This is my Startup Institute Dev Assessment.</p>
        <p> The objective is to create a web app that will send a standard text message to 
        a validated phone number using Twilio API. </p>
        <p>The only validated phone number in my Twilio free trial is "7189251074".</p>
        <p>Feel free to test it. </p>
        <p><a class="btn btn-primary btn-lg" href="#form-msg" role="button">Send a Message</a></p>
    </div>
</div>

<div class="container form-msg" id="form-msg">
    <%= form_tag("/sms/send", method: "post") do %>
        <div class="form-group">
            <%= label_tag(:number, "Number: ") %>
            <%= text_field_tag(:number) %>
        </div>
        <div class="form-group">
            <%= label_tag(:message, "What's your message:") %>
            <%= text_area_tag(:message, "Hi! ", class: "form-control", rows: "5" ) %>
        </div>
        <%= submit_tag("Send", class: "btn btn-success") %>
    <% end %>
</div>